* {
    box-sizing: border-box;
}
.grid {
    height: 480px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
}

.grid div {
    height: 30px;
    width: 30px;
    border: 1px solid black;

}
.grid div:hover {
    background-color: aqua;

}

.checked {
    background-color: blue;
    color: white;
    font-weight: 700;
    padding: 8px
}
.flag {
    background-color: red;
}
/* .bomb {
    background-color: aliceblue;
} */
.zero {
    background-color: black;
}
.left {
    width: 480px;
    height: 50px;
    text-align: center;
    padding: 10px;
}
.left-bombs {
    display: inline;
    font-size: 30px;
    font-weight: 700;
}